body {
    padding: 0px;
    margin: 0px;
    background-color: #11071F;
}

section {
    padding: 24px 20%;
}

header {
    background-color: #1A0B2E;
    padding: 24px 20%;
    display: flex;
    justify-content: space-between;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;


}

.menu {
    display: flex;
    align-items: center;
    gap: 168px;
}

li a {
    text-decoration: none;
    color: #FFFFFF;
}